<div class="sidebar"> 
    <div class="nav-adjust"></div>

    <a class="sidebar-item" id="si0" href="/admin">
        <i class="icofont-dashboard-web"></i>
        <span>Live Tracking</span>
    </a>  

    <a class="sidebar-item" id="si1" href="/admin/bus">
        <i class="icofont-school-bus"></i>
        <span>Bus</span>
    </a> 
    <a class="sidebar-item" id="si2" href="/admin/route"> 
        <i class="icofont-road"></i>
        <span>Routes</span>
    </a>  
    <a class="sidebar-item" id="si3" href="/admin/reviews"> 
        <i class="icofont-chat"></i>
        <span>Reviews</span>
    </a>  
    
      
    <a class="sidebar-item mt-5" href="/admin/logout">
        <i class="icofont-logout"></i>
        <span>Logout</span>
    </a>   

</div>