<nav class="navbar  navbar-dark fixed-bottom nav-custom ">

    <a href="/driver" class="nav-element-body" id="bn1" >
        <p class="icofont-school-bus nav-element-logo text-center"></p>
        <p class="nav-element-name">Trip</p>
    </a> 

    <a href="/driver/route" class="nav-element-body " id="bn2" >
        <p class="icofont-road nav-element-logo text-center"></p>
        <p class="nav-element-name">View In Map</p>
    </a>

    <a href="/driver/logout" class="nav-element-body " id="bn3" >
        <p class="icofont-logout nav-element-logo text-center"></p>
        <p class="nav-element-name">Logout</p>
    </a>
  
   
 
  
       
</nav>