<nav class="navbar  navbar-dark fixed-bottom nav-custom ">

    <a href="/user" class="nav-element-body" id="bn1">
        <p class="icofont-industries-4 nav-element-logo text-center"></p>
        <p class="nav-element-name">Bus</p>
    </a> 

    <a href="/user/map" class="nav-element-body " id="bn2">
        <p class="icofont-map nav-element-logo text-center"></p>
        <p class="nav-element-name">Map</p>
    </a>
  
 
  
    <a href="/user/review" class="nav-element-body" id="bn3">
        <p class="icofont-chat nav-element-logo text-center"></p>
        <p class="nav-element-name">Review</p>
    </a>      
</nav>